.listsCards {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 32px 0;
}

.cantainer-card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
