.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--primary-text-color);
  position: relative;
  text-align: start;
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-info {
  height: 100%;
  padding: 8px 16px;
  display: grid;
  grid-template-rows: 40% 30% 30%;
}

.card-info h2 {
  margin: 0;
}

.card-info p {
  margin: 0;
}

.card-info button {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  font-weight: 700;
  padding: 10px 0 5px 0;
  transition: all 0.2s ease;
  cursor: pointer;
}

.card-info button:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.card-info button svg {
  width: 20px;
  padding-left: 5px;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.card-info button:hover svg {
  transform: translateX(5px);
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.close-botton {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  border: none;
  color: var(--primary-text-color);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.close-botton:hover {
  color: var(--warning-color);
  transform: scale(1.1, 1.1);
}
