.aboutContainer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: auto;
  color: var(--main-text-color);
  text-align: center;
  width: 80%;
  margin: 90px auto 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.aboutHandcrafted {
  font-style: italic;
}

.aboutContent {
  width: 70%;
  height: 70%;
  margin: 40px auto 40px auto;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutContent img {
  width: 70%;
}

.aboutContent {
  margin-top: 20px;
}

.contactContainer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contactContainer li {
  display: flex;
  justify-content: c;
  align-items: center;
}

.contactContainer a {
  text-decoration: none;
  padding: 10px;
  display: flex;
  color: var(--primary-text-color);
  font-size: 24px;
  transition: color 0.2s ease-out;
}

.contactContainer a:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .aboutContact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
  }
}
