.contact-container {
  display: flex;
  justify-content: center;
}

.contact-container ul {
  padding: 0;
  display: flex;
}

.contact-container li {
  list-style: none;
  padding: 15px;
}

.contact-container a {
  color: var(--secondary-text-color);
  transition: all 0.2s ease-out;
}

.contact-container a:hover {
    color: var(--primary-color);
  }