.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 20px 0;
}

@media screen and (max-width: 512px) {
  .container {
    min-height: 450px;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .nav a {
    margin: 10px 0;
  }
}

.nav {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.nav img {
  width: 50px;
}

.nav a {
  font-family: var(--main-font);
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.2s ease-out;
  font-size: 22px;
}

.nav a:hover {
  color: var(--primary-color);
}

.LogoutIcon {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--warning-color);
  cursor: pointer;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 512px) {
  .LogoutIcon {
    margin-top: 10px;
  }
}

.LogoutIcon:hover {
  transform: scale(1.2, 1.2);
}
